<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
     <link rel="shortcut icon" href="https://scontent.facc6-1.fna.fbcdn.net/v/t31.18172-8/13730886_1771248073152551_9134288431789426564_o.png?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=tncOcUngCUoAX_JQQdG&_nc_ht=scontent.facc6-1.fna&oh=00_AT_E1uvpWmAkUky16IWz_68mdH-rqxwQ3D2VSbCyaw-fIA&oe=628ADAB0" type="image/x-icon">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="main">
      <h1>SIGN UP</h1>
       {{#if messages}}
       {{messages.error}}
      {{/if}}
      <form action="/register" method="POST">
        <input type="name" name="name" placeholder="My Name" />
        <input
          type="email"
          name="email"
          placeholder="johnnythedesigner@gmail.com"
        />
        <input type="password" name="password" placeholder="* * * * * *" />
        <button>SIGN UP</button>
      </form>
    </div>
  </body>
</html>
